table{
    width: 75%;
    min-width: 800px;
    border-collapse: collapse;
    margin: 20px 0;
}

.employee{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 10px;
    gap: 32px;
}

.employeeDetailGroup {
    display: flex;
    flex-direction: column;
    gap:30px;
    font-size: 16px;
    font-weight: 600;

    > div{
        display: flex;
        gap: 10px;
        > div:nth-child(1){
           text-transform: uppercase;
        }
        > div:nth-child(2){
            font-weight: 400 
        }
    }
}

.button{
    background-color: #4c9baf;
    color: white;
    padding: 10px 24px;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius:  5px;
}

.tag{
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;


    &.user{
        background-color: #4c9baf95;

    }
    &.admin{
        background-color: #f5a52387;
    }
    &.superadmin{
        background-color: #f5454284;
    }
}

.departament{
    display: flex;
    align-items: center;

    div {
        padding-right:4px;
    }
}

.imageWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    }
img{
    width: 300px !important;
    height: 300px !important;
    width: 100%;
    object-fit: contain
}
